<main class="container">
  <div class="col mt-3 d-flex justify-content-between">
    <h4>Hello, <%= name%> !!</h4>
    <a class="btn btn-primary" href="games/new"> + Add Game </a>
  </div>
  <div class="row flex-column-reverse flex-lg-row">
    <div class="col col-lg-4 col-xl-3 d-flex flex-column">
      <div class="friends list-group col-10 my-2">
        <h5>Friends</h5>
        <% if (friends.length === 0) { %>
        <h6 class="text-muted">You have no friends yet =(</h6>
        <% } %> <% friends.forEach(friend => { %>
        <a
          href="/user/<%= friend.username %>"
          class="list-group-item list-group-item-action"
          ><%= friend.username %>
          <form action="/user/<%= friend.friend_id %>" method="POST">
            <input type="hidden" name="_method" value="DELETE" />
            <input type="hidden" name="finished" value="true" />
            <button class="minus-btn opacity-75 position-absolute top-0 end-0">
              <img src="/img/delete-btn.png" alt="" width="10" />
            </button>
          </form>
        </a>
        <% }) %>
      </div>

      <div class="friend-request list-group col col-lg-10 my-2">
        <h5>Friend Request</h5>
        <% if (requests.length === 0) { %>
        <h6 class="text-muted">No unattended requests</h6>
        <% } %> <% requests.forEach(reqeust => { %>
        <a
          class="list-group-item list-group-item-action"
          href="/user/<%= reqeust.username %>"
          ><%= reqeust.username %></a
        >
        <div class="buttons d-flex justify-content-end m-1">
          <form action="/accept" method="post">
            <input type="hidden" name="id" value="<%= reqeust.friend_id %>" />
            <button class="btn btn-success mx-1">Accept</button>
          </form>
          <form action="/reject" method="post">
            <input type="hidden" name="id" value="<%= reqeust.friend_id %>" />
            <button class="btn btn-danger mx-1">Reject</button>
          </form>
        </div>
        <% }) %>
      </div>
    </div>
    <div class="col">
      <h5 class="my-2">Currently Playing</h5>
      <div class="row row-cols-auto mx-auto">
        <% if (allNotFinished) { %>
        <div
          class="col-10 col-xxl-8 mx-auto mx-xxl-0 alert alert-info"
          role="alert"
        >
          There are no games here, try adding some games using the add games
          button
        </div>
        <% } %> <% games.forEach(game => { %> <% if (game.finished) { %>
        <div class="col-3 col-xl-2 p-0 m-1 position-relative">
          <a href="/games/<%= game.id %>">
            <img class="img-fluid" src="<%= game.image_url %>" alt="" />
          </a>
          <div class="position-absolute top-0 end-0 d-flex flex-column-reverse">
            <form action="/games/<%= game.id %>" method="POST">
              <input type="hidden" name="_method" value="PUT" />
              <input type="hidden" name="finished" value="false" />
              <button class="minus-btn opacity-75">
                <img src="/img/updated.png" alt="" width="18" />
              </button>
            </form>
            <form
              action="/games/<%= game.user_id %>/<%= game.id %>"
              method="POST"
            >
              <input type="hidden" name="_method" value="DELETE" />
              <input type="hidden" name="finished" value="false" />
              <button class="minus-btn opacity-75">
                <img src="/img/delete-btn.png" alt="" width="15" />
              </button>
            </form>
          </div>
        </div>
        <% } %> <% }) %>
      </div>

      <h5 class="my-3">Finished</h5>
      <div class="row row-cols-auto mx-auto">
        <% if (allFinished) { %>
        <div
          class="col-10 col-xxl-8 mx-auto mx-xxl-0 alert alert-info"
          role="alert"
        >
          There are no games here, try adding some games using the add games
          button
        </div>
        <% } %> <% games.forEach(game => { %> <% if (!game.finished) { %>
        <div class="col-3 col-xl-2 p-0 m-1 position-relative">
          <a href="/games/<%= game.id %>">
            <img class="img-fluid" src="<%= game.image_url %>" alt="" />
          </a>

          <div class="position-absolute top-0 end-0 d-flex flex-column-reverse">
            <form action="/games/<%= game.id %>" method="POST">
              <input type="hidden" name="_method" value="PUT" />
              <input type="hidden" name="finished" value="true" />
              <button class="minus-btn opacity-75">
                <img src="/img/updated.png" alt="" width="18" />
              </button>
            </form>
            <form
              action="/games/<%= game.user_id %>/<%= game.id %>"
              method="POST"
            >
              <input type="hidden" name="_method" value="DELETE" />
              <input type="hidden" name="finished" value="true" />
              <button class="minus-btn opacity-75">
                <img src="/img/delete-btn.png" alt="" width="15" />
              </button>
            </form>
          </div>
        </div>
        <% } %> <% }) %>
      </div>
    </div>
  </div>
</main>
