<header class="container-fluid m-2">
  <div class="row">
    <div class="col">
      <h1>Welcome to <%= user.username %>'s Profile</h1>
    </div>
  </div>
</header>

<main class="container-fluid">
  <div class="row flex-column flex-xxl-row">
    <div class="col col-xxl-2 d-flex align-items-xxl-center flex-column">
      <div class="friends list-group col-10 my-2">
        <h1>Friends</h1>
        <% if (friends.length === 0) { %>
        <h6 class="text-muted">This user has not friends =( </h6>
        <% } %>
        <% friends.forEach(friend => { %>
        <a class="list-group-item list-group-item-action" href="/user/<%= friend.username %>"><%= friend.username %> </a>
        <% }) %>
      </div>
    </div>

    <div class="col col-xxl-10">
      <% if (!isFriend) { %>
      <form action="/reqeust/<%= user.id %>/<%= user.username %>" method="post">
        <button class="btn btn-secondary">Send Friend Request</button>
      </form>
      <% } %>
      <h2 class="my-3">Currently Playing</h2>
      <div class="row row-cols-auto">
        <% if (finishedGames.length===0) { %>
        <div class="col-8 col-sm-5 alert alert-secondary" role="alert">
          There are no games here yet for this particular user
        </div>
        <% } %>
        <% games.forEach(game => { %>
        <% if (game.finished) { %>
        <div class="col thumbnail m-2 p-0">
          <a href="/games/<%= game.game_id %>"> <img class="img-fluid" src="<%= game.image_url %>" alt=""> </a>
        </div>
        <% } %>
        <% }) %>
      </div>

      <h2 class="my-3">Finished</h2>
      <div class="row row-cols-auto">
        <% if (stillPlaying.length===0) { %>
        <div class="col-8 col-sm-5 alert alert-secondary" role="alert">
          There are no games here yet for this particular user
        </div>
        <% } %>
        <% games.forEach(game => { %>
        <% if (!game.finished) { %>
        <div class="col thumbnail m-2 p-0">
          <a href="/games/<%= game.game_id %>"> <img class="img-fluid" src="<%= game.image_url %>" alt=""> </a>
        </div>
        <% } %>
        <% }) %>
      </div>
    </div>
</main>